<template>
    <div>
        <h1>Flow Details</h1>

        <el-container>
            <el-header>
                <el-input v-model="currentFlow">
                    <template slot="prepend">
                        Flow:
                    </template>
                    <el-button slot="append" icon="el-icon-check"></el-button>                    
                </el-input>
            </el-header>

            <el-main>

            </el-main>

            <el-footer>



            </el-footer>
        </el-container>
    </div>
</template>

<script src="./flow.ts"></script>
