
<script>

    const TEST_DATA = [{ "id": 1, "name": "testbed-11jun.pcap", "type": "pcap", "size": 17306938543, "createdOn": new Date("2016-01-21T18:57:51"), "uploadOn": new Date("2018-07-11T10:09:47.9398066+02:00"), "hash": "", "author": "Alice Smith", "notes": "", "tags": [] }];


</script>
<template>
    <b-card title="Capture Files"
            tag="captures"
            style="max-width: 20rem;"
            class="mb-2">

        <p v-if="dataSource == null">
            Sorry, no capture files have been uploaded yet. Please add some capture files to start investigation.
        </p>
        <!--<b-table striped hover :items="dataSource"></b-table>-->

        <table v-if="dataSource != null" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Created On</th>
                    <th>Upload On</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="file in dataSource">
                    <td> {{file.id}}        </td>
                    <td> {{file.name}}      </td>
                    <td> {{file.size}}      </td>
                    <td> {{file.createdOn}} </td>
                    <td> {{file.uploadOn}}  </td>
                    <td> {{file.hash}}      </td>
                </tr>
            </tbody>
        </table>

            <b-btn variant="primary">
                <span class="glyphicon glyphicon-upload" />
                Upload
            </b-btn>
            <b-btn>
                <span class="glyphicon glyphicon-trash" />
                Delete
            </b-btn>
    </b-card>
</template>

<script src="./captures.ts"></script>
