<template>
    <div>
        <h1> Capture Files</h1>
        <p v-if="dataSource == null">
            Sorry, no capture files have been uploaded yet. Use caploader to add capture files to the investigation.
        </p>
        <b-pagination :total-rows="totalCaptures" v-model="currentPage" :per-page="perPage" v-on:change="reload" />
        <table v-if="dataSource != null" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Created On</th>
                    <th>Upload On</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="file in dataSource">
                    <td> {{file.id}}        </td>
                    <td> {{file.name}}      </td>
                    <td> {{file.size}}      </td>
                    <td> {{file.createdOn}} </td>
                    <td> {{file.uploadOn}}  </td>
                    <td> {{file.hash}}      </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./captures.ts"></script>
