<div class="tarzan-app">
  <mat-toolbar class="app-navbar">
    <a mat-button class="app-button" routerLink="/" aria-label="Tarzan Dashboard">
      <i class="material-icons">title</i>
      <span>[tarzan]</span>
    </a>
    <a mat-button class="app-button" routerLink="captures">
      <i class="material-icons">camera_roll</i>
      <span>Captures</span>
    </a>
    <a mat-button class="app-button" routerLink="flows">
      <i class="material-icons">view_list</i>
      <span>Flows</span>
    </a>
    <a mat-button class="app-button" routerLink="explore">
      <i class="material-icons">explore</i>
      <span>Explore</span>
    </a>
    <a mat-button class="app-button" routerLink="results">
      <i class="material-icons">fingerprint</i>
      <span>Results</span>
    </a>
    <div class="flex-spacer"></div>
    <a mat-button class="app-button" routerLink="settings">
      <i class="material-icons">settings</i>
      Settings
    </a>
    <a mat-button class="app-button" routerLink="profile">
      <i class="material-icons">portrait</i>
      Ondrej Rysavy
    </a>
  </mat-toolbar>
  <div class="app-content-container">
  <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="app-footer">
    <div class="version-info">
        <mat-icon>info</mat-icon>
        Tarzan Dashboard Version 0.1
    </div>
  </mat-toolbar>
</div>
