<template>
    <el-menu :router="true" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="/captures">Captures</el-menu-item>
        <el-submenu index="/flows">
            <template slot="title">
                Flows
            </template>
            <el-menu-item index="/flows/flowtable">Flow Table</el-menu-item>
            <el-menu-item index="/flows/sessions">Sessions</el-menu-item>
        </el-submenu>
        <el-submenu index="/explore">
            <template slot="title">
                Explore
            </template>
            <el-menu-item index="/explore/hosts">Hosts</el-menu-item>
            <el-menu-item index="/explore/services">Services</el-menu-item>
            <el-menu-item index="/explore/dns">DNS</el-menu-item>
            <el-menu-item index="/explore/http">HTTP</el-menu-item>
            <el-menu-item index="/explore/tls">TLS</el-menu-item>
        </el-submenu>
        <el-menu-item index="/files">Files</el-menu-item>
        <el-menu-item index="/timeline">Timeline</el-menu-item>
        <!--
    <el-submenu index="/communication">
        <template slot="title">
            Communications
        </template>
        <el-menu-item index="/communication/email">Email</el-menu-item>
        <el-menu-item index="/communication/facebook">Facebook</el-menu-item>
        <el-menu-item index="/communication/twitter">Twitter</el-menu-item>
    </el-submenu>
        -->
        <el-submenu index="/results">
            <template slot="title">
                Results
            </template>
            <el-menu-item index="/results/cleartext">Cleartext</el-menu-item>
            <el-menu-item index="/results/credentials">Credentials</el-menu-item>
            <el-menu-item index="/results/keywordsearch">Keyword Search</el-menu-item>
        </el-submenu>
        <el-menu-item index="/tags">Tags</el-menu-item>
        <el-menu-item index="/logs">Logs</el-menu-item>
        <el-menu-item index="/settings">Settings</el-menu-item>
        <el-submenu index="/user">
            <template slot="title">
                User
            </template>
            <el-menu-item index="/user/profile">Profile</el-menu-item>
            <el-menu-item index="/user/messages">Messages</el-menu-item>
            <el-menu-item index="/user/logout">Logout</el-menu-item>
        </el-submenu>
    </el-menu>
</template>

