<template>
    <div>
        <h1>HTTP</h1>

        <el-container>
            <el-header>


            </el-header>

            <el-main>
                <el-table :data="dataSource" border style="width: 100%"  v-loading="loading">
                    <el-table-column type="expand" width="50">
                        <template slot-scope="props">
                            <el-col :span="11">
                                <el-card shadow="never">
                                    <div slot="header" class="clearfix">
                                        <span>Request ({{ props.row.requestBodyLength}} Bytes)</span>
                                        <el-popover width="800"
                                                    trigger="click">
                                            <code>
                                                {{ getRequestContent(props.row.flowId,props.row.transactionId) }}
                                            </code>
                                            <el-button slot="reference" icon="el-icon-view" style="float: right;" circle size="mini" />
                                        </el-popover>
                                        <el-button style="float: right; margin-right: 5px;" icon="el-icon-download" circle size="mini"
                                                   @click="downloadRequestContent(props.row.flowId,props.row.transactionId)" />
                                    </div>
                                    <div class="fixed-font">
                                            {{ props.row.method }} {{ props.row.uri }} {{ props.row.version }}
                                            <div v-for="item in props.row.requestHeaders">{{ item }}</div>
                                    </div>     
                                </el-card>
                            </el-col>
                            <el-col :span="1">
                                <br />
                            </el-col>
                            <el-col :span="11">
                                <el-card shadow="never">
                                    <div slot="header" class="clearfix">
                                        <span>Response ({{ props.row.responseBodyLength}} Bytes)</span>
                                        <el-popover width="800"                                                    
                                                    trigger="click">
                                            <el-tabs>
                                                <el-tab-pane label="Preview">Cannot preview this type of object.</el-tab-pane>
                                                <el-tab-pane label="Plain">Plain text</el-tab-pane>
                                                <el-tab-pane label="Hex">Hex View</el-tab-pane>                                                
                                            </el-tabs>                                                   
                                            <el-button style="float: right;" slot="reference" icon="el-icon-view" circle size="mini"/>
                                        </el-popover>
                                        <el-button style="float: right; margin-right: 5px;" icon="el-icon-download" circle size="mini"
                                                   @click="downloadResponseContent(props.row.flowId,props.row.transactionId)" />
                                    </div>
                                    <div class="fixed-font">
                                            {{ props.row.version }} {{ props.row.statusCode }} {{ props.row.statusMessage }}
                                            <div v-for="item in props.row.responseHeaders">
                                                {{ item }}
                                            </div>                                        
                                    </div>
                                </el-card>
                        </el-col>
                        </template>
                    </el-table-column>
                    <el-table-column prop="timestamp" label="Time" width="80" />
                    <el-table-column prop="client" label="Client" width="150" />
                    <el-table-column prop="server" label="Server" width="150" />
                    <el-table-column prop="method" label="Method" width="80" />
                    <el-table-column label="URI">
                        <template slot-scope="props">
                            http://{{ props.row.host }}{{ props.row.uri }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="userAgent" label="User Agent" width="150" />
                </el-table>
            </el-main>

            <el-footer>
                <el-pagination background
                               layout="prev, pager, next"
                               :page-size="perPage"
                               :total="totalItems"
                               curent-page="currentPage"
                               @current-change="reload" />
            </el-footer>
        </el-container>
    </div>
</template>

<script src="./http.ts"></script>
