<template>
    <div>
        <h1>Flow Table</h1>
        <el-container>
            <el-header>

                <el-input v-model="flowFilter">
                    <template slot="prepend">
                        Filter:
                    </template>
                    <el-button slot="append" icon="el-icon-check"></el-button>
                    <el-button slot="append" icon="el-icon-close"></el-button>
                </el-input>

            </el-header>
            <el-main>
                <el-table :data="dataSource" border style="width: 100%">
                    <el-table-column prop="id" label="Id" />
                    <el-table-column prop="protocol" label="Proto" />
                    <el-table-column :prop="???.sourceAddress + ':' + ???.sourcePort" label="Source" />
                    <el-table-column prop="destinationAddress" label="Dst Addr" />
                    <el-table-column prop="destinationPort" label="Dst Port" />
                    <el-table-column prop="firstSeen" label="First" />
                    <el-table-column prop="lastSeen" label="Last" />
                    <el-table-column prop="packets" label="Packets" />
                    <el-table-column prop="octets" label="Octets" />
                </el-table>
            </el-main>
            <el-footer>
                <el-pagination background
                               layout="prev, pager, next"
                               :page-size="perPage"
                               :total="totalFlows"
                               curent-page="currentPage"
                               @current-change="reload" />
            </el-footer>
        </el-container>
    </div>
</template>

<script src="./flows.ts"></script>
