<template>
    <div>
        <h1>Flow Table</h1>

        <b-pagination :total-rows="totalFlows" v-model="currentPage" :per-page="perPage" v-on:change="reload" />
        <table v-if="dataSource.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Protocol</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Packets</th>
                    <th>Octets</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="flow in dataSource">
                    <td> {{flow.id}}        </td>
                    <td> {{flow.protocol}}      </td>
                    <td> {{flow.sourceAddress}} : {{flow.sourcePort}} </td>
                    <td> {{flow.destinationAddress}} : {{flow.destinationPort}} </td>
                    <td> {{flow.firstSeen}}  </td>
                    <td> {{flow.lastSeen}}      </td>
                    <td> {{flow.packets}}  </td>
                    <td> {{flow.octets}}      </td>
                </tr>
            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./flows.ts"></script>
