<template>
    <div>
        <h1>Flow Table</h1>
        <el-container>
            <el-header>

                <el-input v-model="flowFilter">
                    <template slot="prepend">
                        Filter:
                    </template>
                    <el-button slot="append" icon="el-icon-check"></el-button>
                    <el-button slot="append" icon="el-icon-close"></el-button>
                </el-input>

            </el-header>
            <el-main>
                <el-table :data="dataSource" border style="width: 100%" v-loading="loading" @row-dblclick="selectFlow">
                    <!--<el-table-column prop="flowId" label="Id" width="80"/>-->
                    <el-table-column prop="protocol" label="Proto" width="80" />
                    <el-table-column label="Source">
                        <template slot-scope="scope">
                            {{ dataSource[scope.$index].sourceAddress }} : {{ dataSource[scope.$index].sourcePort  }}
                        </template>
                    </el-table-column>
                    <el-table-column label="Destination">
                        <template slot-scope="scope">
                            {{ dataSource[scope.$index].destinationAddress }} : {{ dataSource[scope.$index].destinationPort  }}
                        </template>
                    </el-table-column>

                    <el-table-column label="Time" width="200">
                        <template slot-scope="props">
                            {{ new Date(props.row.firstSeen).toString() }}
                        </template>
                    </el-table-column>
                    <el-table-column label="Duration" width="100">
                        <template slot-scope="props">
                            {{ (props.row.lastSeen - props.row.firstSeen) / 1000 }} s
                        </template>
                    </el-table-column>                  
                    <el-table-column prop="packets" label="Packets" width="150" />
                    <el-table-column prop="octets" label="Octets" width="150" />
                </el-table>
            </el-main>
            <el-footer>
                <el-pagination background
                               layout="prev, pager, next"
                               :page-size="perPage"
                               :total="totalFlows"
                               curent-page="currentPage"
                               @current-change="reload" />
            </el-footer>
        </el-container>
    </div>
</template>

<script src="./flowtable.ts"></script>
