@import "https://unpkg.com/bootstrap/dist/css/bootstrap.min.css";       
@import "https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css";
    
h1 {
    font-family: 'Roboto';
}
h2 {
    font-family: 'Roboto';
}

body {
    font-family: Roboto, Arial, sans-serif;    
    font-size: 12px;
}


.app-content-container {
    position:page;
    margin-top:80px;
    left: 10px;
    right: 10px;
    text-align: left;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: 0px;
}
.main-nav li .glyphicon {
    margin-right: 0.3em;
}

/* TABLES */
.table {
    border: solid;
    border-color: #dddddd;
    border-width: 1px;
}
.table td {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}
    .table th {
        background-color: #4189C7;
        color: white;
    }
