h1 {
    font-family: 'Roboto';
    font-size: 20px;
}
h2 {
    font-family: 'Roboto';
}

body {
    font-family: Roboto, Arial, sans-serif;    
    font-size: 12px;
}

.el-header {
    background-color: whitesmoke;
    color: #333;
    padding-top: 10px;
}

.el-footer {
    padding-top: 10px;
    background-color: whitesmoke;
    color: #333;
}

.el-aside {
    color: #333;
}

.el-container {
    border: 1px solid #eee;
}